<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nortech</title>
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style-liberty.css">
</head>
<body>
    <!--/Header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light stroke py-lg-0">
                <h1><a class="navbar-brand pe-xl-5 pe-lg-4" href="index.html">
                        <span class="w3yellow">nortech</span>Soluções</a></h1>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-lg-auto my-2 my-lg-0 navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="services.html">Serviços</a>
                        </li>
                        <!--<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#Pages" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Pages <span class="fa fa-angle-down ms-1"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item pt-2" href="blog.html">Blog Page</a></li>
                                <li><a class="dropdown-item" href="blog-single.html">Blog Single</a></li>

                                <li><a class="dropdown-item" href="email.html">Email Page</a></li>
                                <li><a class="dropdown-item" href="elements.html">Elements</a></li>

                                <li><a class="dropdown-item" href="landing.html">Landing Page</a></li>

                                <li><a class="dropdown-item" href="error.html">Error Page</a></li>
                            </ul>
                        </li>-->
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contato</a>
                        </li>
                    </ul>
                    <!--/search-right --
                    <ul class="header-search me-lg-4">
                        <li class="search-right">
                            <a href="#search" class="btn btn-style btn-primary search-btn" title="search"><span class="fas fa-search me-2" aria-hidden="true"></span> Search </a>
                            <!-- search popup --
                            <div id="search" class="pop-overlay">
                                <div class="popup">
                                    <h3 class="title-w3l two mb-4">Search Here</h3>
                                    <form action="error.html" method="GET" class="search-box">
                                        <input type="search" placeholder="Enter Keyword" name="search" required="required" autofocus="">
                                        <button type="submit" class="btn">Search Now</button>
                                    </form>
                                    <div class="quick-links-side follow-us mt-5 text-center">
                                        <h5 class="title-side mb-3">Follow Us</h5>
                                        <ul class="social-icons-top">
                                            <li><a href="#url" class="twitter"><span class="fab fa-twitter"></span></a></li>
                                            <li><a href="#url" class="facebook"><span class="fab fa-facebook-f"></span></a></li>
                                            <li><a href="#url" class="linkedin"><span class="fab fa-linkedin-in"></span></a></li>
                                            <li><a href="#url" class="instagram"><span class="fab fa-instagram"></span></a></li>
                                        </ul>
                                    </div>

                                </div>
                                <a class="close" href="#close">×</a>
                            </div>
                           /search popup -->
                        </li>
                    </ul>
                    <!--//search-right-->
                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="mobile-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!--//Header-->
    <!--/inner-page-->
    <div class="inner-banner py-5">
        <section class="w3l-breadcrumb text-left py-sm-5">
            <div class="container">
                <div class="w3breadcrumb-right">
                    <ul class="breadcrumbs-custom-path">
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><span class="fas fa-angle-double-right mx-2"></span> Contato</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <!--//inner-page-->
    <!--/contact1-->

   <section class="w3l-contact-1 py-5" id="contact">
  <div class="contacts-9 py-lg-5 py-md-4">
    <div class="container">
      <!--/map-->
      <div class="map-iframe mb-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3890.275186881145!2d-38.270015799999996!3d-12.825485899999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7163f77469728fb%3A0x17db34f9a61bd59!2sR.%20Lagoa%20Branca%2C%20303%20-%20Abrantes%2C%20Cama%C3%A7ari%20-%20BA%2C%2042822-052!5e0!3m2!1spt-BR!2sbr!4v1752517501591!5m2!1spt-BR!2sbr"
          width="100%" height="400" frameborder="0" style="border: 0;" allowfullscreen=""></iframe>
      </div>
      <!--//map-->

      <div class="row contact-view mt-5 pt-lg-4">
        <!-- Endereços -->
        <div class="col-lg-6 cont-details mb-lg-0 mb-5 pe-lg-5">
          <h6 class="title-subw3hny mb-1">Entre em contato conosco</h6>
          <h3 class="title-w3l mb-4">Nosso endereço</h3>
          <!--<p class="mb-sm-5 mb-4">
            Start working with Us that can provide everything you need to generate awareness, drive traffic,
            connect. <br> We guarantee that you’ll be able to have any issue resolved within 24 hours.
          </p>-->

          <!-- Grid de endereços: 2 colunas no desktop, 1 no mobile -->
          <div class="row">
            <div class="col-md-6 mb-4">
              <h5 class="mb-4">CAMAÇARI - BA </h5>
              <div class="cont-top">
                <div class="cont-left text-center">
                  <span class="fas fa-phone-alt"></span>
                </div>
                <div class="cont-right">
                  <h6>Número de telefone</h6>
                  <p><a href="tel:(71) 99922-3308">(71) 99922-3308</a></p>
                </div>
              </div>
              <div class="cont-top margin-up">
                <div class="cont-left text-center">
                  <span class="fas fa-map-marked-alt"></span>
                </div>
                <div class="cont-right">
                  <h6>Endereço CAMAÇARI-BA.</h6>
                  <p>RUA LAGOA BRANCA LOJA 303 ABRANTES, CAMAÇARI - BA CEP: 42.820-644</p>
                </div>
              </div>
            </div>

            <div class="col-md-6 mb-4">
              <h5 class="mb-4">CAMARAGIBE - PE</h5>
              <div class="cont-top">
                <div class="cont-left text-center">
                  <span class="fas fa-phone-alt"></span>
                </div>
                <div class="cont-right">
                  <h6>Número de telefone</h6>
                  <p><a href="tel:+(81) 98848-5506">(81) 98848-5506</a></p>
                </div>
              </div>
              <div class="cont-top margin-up">
                <div class="cont-left text-center">
                  <span class="fas fa-map-marked-alt"></span>
                </div>
                <div class="cont-right">
                  <h6>Endereço CAMARAGIBE-PE</h6>
                  <p>
                    RUA LUIZ CARLOS DA FONSECA, 79 CÉU AZUL, CAMARAGIBE - PE CEP: 54.774-605 |
                    (REGIÃO METROPOLITANA DE RECIFE)
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Formulário -->
        <div class="col-lg-6 map-content-9">
          <h5 class="mb-sm-4 mb-3">Mande-nos uma mensagem</h5>
          <form action="https://formsubmit.co/nortechsolucoeshvac10@gmail.com" method="POST" class="form">
            <label for="name">Nome</label>
            <input type="text" name="name" id="name" required placeholder="Insira seu nome." />
            <label for="telefone">Telefone/Whatsapp:</label>
            <input type="tel" id="telefone" name="telefone" required oninput="this.value = this.value.replace(/[^0-9]/g, '')" placeholder="Insira seu número com DDD." />
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" required placeholder="Insira seu endereço de e-mail." />
            <label for="message">Mensagem</label>
            <textarea name="message" id="message" required></textarea>

            <!-- Configs extras -->
            <input type="hidden" name="_captcha" value="false" />
            <input type="hidden" name="_next"
              value="https://wa.me/5571999223308?text=Ol%C3%A1%2C%20vim%20atrav%C3%A9s%20do%20site%2C%20poderia%20me%20ajudar%3F" />
            <button type="submit">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

    <!--/contact1-->

    <!--/w3l-footer-29-main-->
    <footer class="w3l-footer-29-main">
        <div class="footer-29 py-5">
            <div class="container py-lg-4">
                <div class="row footer-top-29">
                    <div class="col-lg-4 footer-list-29 footer-1 pe-lg-5">
                        <h2><a class="navbar-brand" href="index.html">
                                <span class="w3yellow">Nortech</span>Soluções.</a></h2>
                        <p class="parahny pr-lg-5 mr-xl-4 mb-4">Nortech Soluções em HVAC, estamos preparados para melhor lhe atender.</p>
                    </div>
                    <div class="col-lg-4 footer-list-29 footer-3 mt-lg-0 mt-5 pe-lg-5">
                        <h6 class="footer-title-29">Nortech Soluções</h6>
                        <div class="footer-listw3-grids">
                            <ul class="footer-listw3">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">Sobre</a></li>
                                <!--<li><a href="blog.html">Blogs</a></li>-->
                                <li><a href="contact.html">Contato</a></li>

                            </ul>
                           <!-- <ul class="footer-listw3">
                                <!--<li><a href="#privacy">Privacy Policy</a></li>
                                <li><a href="#term">Terms of use</a></li>
                                <li><a href="#sales">Sales and Refunds</a></li>
                                <li><a href="#faq">FAQ</a></li>
                            </ul>-->
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 footer-list-29 footer-4 mt-lg-0 mt-5">
                        <h6 class="footer-title-29">Mantenha-se conectado</h6>
                        <p>Receba atualizações assinando nosso boletim informativo semanal</p>

                        <form action="https://formsubmit.co/umpequenoanjo@gmail.com" class="form" method="post">
                            <input type="email" name="email" placeholder="Your Email Address" required="">
                            <button><span class="fas fa-paper-plane"></span></button>
                            <input type="hidden" name="_captcha" value="false" />
      <input
        type="hidden"
        name="_next"
        value="https://wa.me/5571999223308?text=Ol%C3%A1%2C%20vim%20atrav%C3%A9s%20do%20site%2C%20poderia%20me%20ajudar%3F"
      />                </form>                    
                        <div class="main-social-footer-29 mt-4">
                            <!--<a href="#facebook" class="facebook"><span class="fab fa-facebook-f"></span></a>
                            <a href="#twitter" class="twitter"><span class="fab fa-twitter"></span></a>
                            <a href="#pinterest"><span class="fab fa-pinterest-p"></span></a>-->
                            <a href="https://www.instagram.com/nortech_solucoes_em_hvac?igsh=MWl6Zm9peG0zZHBncg%3D%3D" class="instagram"><span class="fab fa-instagram"></span></a>
                            <!--<a href="#google" class="google"><span class="fab fa-google-plus-g"></span></a>
                            <a href="#linkd" class="linkd"><span class="fab fa-linkedin-in"></span></a>-->
                        </div>
                    </div>
                </div>
                <div class="bottom-copies text-center">
                    <p class="copy-footer-29">© 2025 Nortech Soluções em HVAC. Todos os direitos reservados - CNPJ: 36.437.177/0001-05 - Site Criado por <a href="https://wa.me/5581999173971?text=Ol%C3%A1%2C%20gostaria%20de%20um%20or%C3%A7amento." title="empresa de sites">Dev Moreira👨🏾‍💻❤️</a></p>				</div></p>
                </div>
            </div>
        </div>
            <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fa fa-angle-up"></span>
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function() {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }

        </script>
        <!-- //move top -->
    </footer>
    <!-- Template JavaScript -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/theme-change.js"></script>
    <!--light-box-files -->
    <script src="assets/js/jquery-2.1.4.min.js"></script>
    <script src="assets/js/jquery.chocolat.js"></script>
    <script type="text/javascript ">
        $(function() {
            $('.w3_agile_portfolio_grid a').Chocolat();
        });

    </script>
    <!-- /js for portfolio lightbox -->
    <!-- stats number counter-->
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/jquery.countup.js"></script>
    <script>
        $('.counter').countUp();

    </script>
    <!-- //stats number counter -->
    <!-- owlcarousel -->
    <script src="assets/js/owl.carousel.js"></script>
    <!-- script for banner slider-->
    <script>
        $(document).ready(function() {
            $('.owl-one').owlCarousel({
                loop: true,
                margin: 0,
                nav: false,
                responsiveClass: true,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 1
                    },
                    480: {
                        items: 1
                    },
                    667: {
                        items: 1
                    },
                    1000: {
                        items: 1
                    }
                }
            })
        })

    </script>
    <!-- //script -->
    <!-- script for tesimonials carousel slider -->
    <script src="assets/js/owl.carousel.js"></script>

    <script>
        $(document).ready(function() {
            $("#owl-demo1").owlCarousel({
                loop: true,
                margin: 20,
                nav: false,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    768: {
                        items: 2,
                        nav: false
                    },
                    1000: {
                        items: 3,
                        nav: false,
                        loop: false
                    }
                }
            })
        })

    </script>
    <!-- //script for tesimonials carousel slider -->
    <!-- script for midslider carousel slider -->
    <script src="assets/js/owl.carousel.js"></script>

    <script>
        $(document).ready(function() {
            $("#owl-demo2").owlCarousel({
                loop: true,
                margin: 20,
                nav: false,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    768: {
                        items: 2,
                        nav: false
                    },
                    1000: {
                        items: 2,
                        nav: false,
                        loop: false
                    }
                }
            })
        })

    </script>
    <!-- //script for midslider carousel slider -->
    <!-- video popup -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

            $('.popup-with-move-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-slide-bottom'
            });
        });

    </script>
    <!-- //video popup -->
    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function() {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function() {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function() {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function() {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });

    </script>
    <!-- //MENU-JS -->

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function() {
            $('.navbar-toggler').click(function() {
                $('body').toggleClass('noscroll');
            })
        });

    </script>
    <!-- //disable body scroll which navbar is in active -->

    <!-- //bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>

</body>

</html>
